.active a{
    color: #e82293 !important;
}

.selected a{
    color: #e82293 !important;
}

.navheight {
   max-height:37px;
}

.nav-link  {
    font-size: 20px;
    color: #e82293 !important;
      font-weight: bold;
      font-weight: 700;
}

.navfont {
  font-size: 15px;
  font-weight: bolder;
}

body {
  background-image: url("image3.jpg");
	background-repeat: no-repeat;
}
