/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/

@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=19ca4cf3-246a-4200-a133-ba2e4a3153cd");

@font-face {
    font-family: "DIN W02 Light";
    src: url("/Fonts/1d02ce13-aafd-4c16-8182-09c3da13b4aa.eot?#iefix");
    src: url("/Fonts/1d02ce13-aafd-4c16-8182-09c3da13b4aa.eot?#iefix") format("eot"),url("/Fonts/e259563d-7c59-40c9-999d-11259f239777.woff2") format("woff2"),url("/Fonts/12fdfba0-a41d-4419-8dcf-522291a23af2.woff") format("woff"),url("/Fonts/29d75aac-ff34-429b-8d02-eca27f239530.ttf") format("truetype");
}

@font-face {
    font-family: "DIN W02 Regular";
    src: url("/Fonts/5eb0af6c-78f3-4b41-a963-221e4bbae0a3.eot?#iefix");
    src: url("/Fonts/5eb0af6c-78f3-4b41-a963-221e4bbae0a3.eot?#iefix") format("eot"),url("/Fonts/89495911-441c-4a94-b785-8fbbde758233.woff2") format("woff2"),url("/Fonts/27e61977-1c85-4892-b030-9d3339639298.woff") format("woff"),url("/Fonts/38c9d500-4abf-4486-a088-30b4c9233d29.ttf") format("truetype");
}

@font-face {
    font-family: "DIN W02 Medium";
    src: url("/Fonts/2faca088-c5cd-4839-8d0d-9114e46a2fa9.eot?#iefix");
    src: url("/Fonts/2faca088-c5cd-4839-8d0d-9114e46a2fa9.eot?#iefix") format("eot"),url("/Fonts/3a97d711-0278-4fcc-9527-37e7911bcfb7.woff2") format("woff2"),url("/Fonts/8491ec80-cec4-4e7a-8c3a-27c0cf767c12.woff") format("woff"),url("/Fonts/f28d8edb-74fe-471d-b259-11e0398960b9.ttf") format("truetype");
}

@font-face {
    font-family: "DIN W02 Bold";
    src: url("/Fonts/5cbfa3ad-511c-4785-ae05-ddd8592e98d4.eot?#iefix");
    src: url("/Fonts/5cbfa3ad-511c-4785-ae05-ddd8592e98d4.eot?#iefix") format("eot"),url("/Fonts/f3fd776a-e956-40dc-9b24-97db1b46fce0.woff2") format("woff2"),url("/Fonts/f7b2042d-50ab-4d6b-be47-e0552322ccb0.woff") format("woff"),url("/Fonts/0e078204-50a7-4c49-8e75-2cde9db891df.ttf") format("truetype");
}
