.active{
    background-color: #000000 !important;
    color: white !important;
}
.active a{
    color: white !important;
}

.navheight {
   max-height:37px;
}

.navfont {
  font-size: 15px;
  font-weight: bolder;
}
