/* BCL-2543 added for revised credential management */
/*page elements */
a{
	outline:none;
}
body {
	background: white;
	color: #585858;
}
form[name="passwdForm"]{
	margin-bottom:0px;
}
input[type="text"], input[type="password"]{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:8px;
	height:auto;
	width:100%;
	color:#5F5F5F;
	font-size:14px;
	font-family:verdana;
}
select{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	color:#5F5F5F;
	font-size:12px;
	font-family:verdana;
}
input[type="text"]:focus,input[type="password"]:focus{
	outline:none;
}
table tr:hover{
	color:#5F5F5F;
}
/*header*/
#termsHeader{
	margin-top:10px;
}
.wrapper{
	max-width:900px;
}
.container{
    border-color:#FFFFFF;
}
h1.page-header{
	padding-left:3px;
	margin: 40px 0px 30px 0px;
	border-bottom: 1px solid #FFFFFF;
	color: #426b83;
	font: 36px "Expert-Sans-Light", verdana, sans-serif;
}
h3.help-header{
	font: 18px/ 1.2 "Expert-Sans-Regular", verdana, sans-serif;
    font-weight: normal;
    margin: 0 0 7px 0;
    padding: 0;
    color: #003366;
    letter-spacing: .5px;
    }

#pageshadow {
	background: white;
	height:20px;
}
.logo{
	float:none;
	padding-left:10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#logo{
	float:none;
	padding-left:10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*input styling*/
#titleName{
	width:100%;
	z-index:99;
}
#titleName_td{
	padding-right:0px;
}
input.hasPlaceholder{
	color:#888;
}
#radio_edit, #radio_view{
	display:block;
}
#newTitle{
	width:100%;
}
fieldset.chkbox div{
	padding-right: 3%;
}
.chkbox input[name="infoValidity"]{
	margin-right:10px;
}
.radio input {
	margin: 0px;
	width:4%;
	height:15px;
	border: 0px solid #ffffff;
}
.remember input {
	margin: 0px 10px 0px 0px;
	height:15px;
	border: 0px solid #ffffff;
	vertical-align: top;
}
.remember label{
	color: #5F5F5F;
	font: 12px verdana;
}
.loginform-label{
	color: #426b83;
	font: 17px "Expert-Sans-Regular", verdana, sans-serif;
}
.txtbox label.loginform-label{
	color: #426b83;
	font: 17px "Expert-Sans-Regular", verdana, sans-serif;
}
.chkbox label {
	display: block;
	font-weight: normal;
	margin: 0 0 7px 0;
	padding: 0;
	color: #426b83;
	font: 17px "Expert-Sans-Regular", verdana, sans-serif;
	letter-spacing: 0;
}
.forgot-btn button{
	background-color: #00AEEF;
	/* background: url(/BC_S/bl_rebrand/images/icon-block.gif) center; */
	background-size:100%;
	background-repeat:repeat-x;
	padding:3px 30px;
	border: none;
	float: right;
	height: 40px;
	color: #fff;
	cursor: pointer;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
    font: 18px/ 1.2 "Expert-Sans-Regular", verdana, sans-serif !important;
}
/* .forgot-btn button:disabled{
	border: 1px solid #d0d2d3;
	color: #AbACAd;
    cursor: default;
    background-color: #d0d2d3;
} */


.forgot-btn button[disabled="disabled"]{
	border: 1px solid #ebeced;
	color: #d0d2d3;
    background-color: #ebeced;
    opacity: 1;
}
.inputError {
	border-color: #D71D4F !important;
}

.error-message{
	 border-style: solid;
	 border-width: 1px;
	 border-color: #D71D4F;
	 background: #f9e8f6;
	 margin-bottom: 10px;
	 padding:7px;
	 color: #D71D4F;
	 font-weight:normal;
	 border-radius:4px;
	 -moz-border-radius:4px;
	 -webkit-border-radius:4px;
}
.error{
	 border-style: solid;
	 border-width: 1px;
	 border-color: #D71D4F;
	 background: #f9e8f6;
	 margin-bottom: 10px;
	 padding:7px;
	 color: #D71D4F;
	 font-weight:normal;
	 border-radius:4px;
	 -moz-border-radius:4px;
	 -webkit-border-radius:4px;
}
.warning p {
	background:url("/BC_S/bcl_s/icn/exclamation.gif") no-repeat scroll left top transparent;
	padding:0 20px;
	color:#9E0B0F;
}
.warning p a {
	white-space:nowrap;
}
.button{
	padding-right:4%;
}
#submit {
	background: url(/Runthebank-Barclays/icon-block.gif) center;
	background-size:100%;
	background-repeat:repeat-x;
	border: none;
	float: right;
	height: 30px;
	color: #fff;
	cursor: pointer;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-weight:bold;
	font-family:verdana;
}
#submit.disabled{
	background: url(/BC_S/bl_rebrand/images/btn-disabled-bg.png) center;
	border: 1px solid #d5d5d6;
	color: #828384;
	cursor: default;
}

#strength.weak {color: #D71D4F;}
#strength.good {color: #2D98F3;}
#strength.strong {color: #006400;}
#displayInputs{
	float:right;
	padding:5px 0px 5px 0px;
}

/* skip lines for all radio buttons if there is not enough room */
@media only screen and (max-width: 750px){

	fieldset.chkbox div{
		display: block;
	}

	.phonetext{
		color: #017eb6 !important;
		font: 14px/ 1.2 "Expert-Sans-Regular", verdana, sans-serif !important;
	}
	.mailtext{
		font: 14px/ 1.2 "Expert-Sans-Regular", verdana, sans-serif !important;
	}

}

/* content boxes */
.divider{
	margin-bottom:10px;
}
.section{
	margin-top:0px;
}
p.instructions{
	text-align:left;
}
#help_box p{
	font-size:12px;
	margin-bottom:10px
}
#help_box p b{
	font-size:12px;
	margin-bottom:5px;
}
.grid_3{
	margin:0;
	width: 56% !important;
	padding-left:5px;
}
.grid_2.sub_5{
	border-left: none;
	padding-left:50px;
	margin:0;
	width:43% !important;
}
.nobreak{
	white-space:nowrap;
}

.mailicon{
	background:url(/BC_S/bl_rebrand/images/icon-mail-24px.png) no-repeat;
	float:left;
	width: 24px;
    height: 24px
}

/* .mailtext{
	vertical-align: middle;
	margin-left:10px;
	color: #017eb6 !important;
	font: 12px/ 1.2 "Expert-Sans-Regular", verdana, sans-serif !important;
} */
.phoneicon{
	background:url(/BC_S/bl_rebrand/images/icon-phone-24px.png) no-repeat;
	float:left;
	width: 24px;
    height: 24px
}

.phonetext{
		vertical-align: middle;
		color: #585858;
		margin-left:10px;
    	font: 12px/1.5 verdana,sans-serif;
}
.mailtext{
		vertical-align: middle;
		color: #017eb6 !important;
		margin-left:10px;
		font: 12px/1.5 verdana,sans-serif;

}

#side_box{
	top:-32px;
	position:relative;
}
#right_top_unit{
	padding-bottom:15px;
	max-width:299px;
}
#notes, #needHelp, #needHelpDesc { display: none;}

/*footer*/
#foot-wrap{
	border-top: 1px solid #FFFFFF;
	width: 100%;
	height:51px;
	bottom:10px;
}


/*mobile styling */
@media only screen and (max-width: 480px) {

	label.loginform-label{
		color: #426b83;
		font-size:20px;
	 	font-family: "Expert-Sans-Light", verdana, sans-serif !important;
	 	font-weight:bold;
	}

	input.hasPlaceholder{
		color:#444444;
		font: 18px/ 1.2 "Expert-Sans-Regular", verdana, sans-serif !important;
		height:40px !important;
	}
	.grid_3.sub_5 {
        width: 98% !important;
    }
    .forgot-btn button {
        width: 100%;
        font: 18px/ 1.2 "Expert-Sans-Regular", verdana, sans-serif !important;
    }
    fieldset.chkbox .button {
        width: 90%
    }
    fieldset.chkbox .button.selected {
        color: #fff;
        text-shadow: rgba(0,0,0,.65) 0 -1px 1px;
        background-color: #677a94;
        border: 1px solid #495e7b;
        border-top-color: #41536d;
    }
	.grid_2.sub_5{
		display:inline;
		float:none;
	}
	#help_box{
		float:left;
		padding:25px 5px 5px 5px;
		margin-top:15px;
	}
	#learn_more{
		float:left;
	}
	#side_box{
		top:0px;
	}
	#right_top_unit{
		display:none;
	}
	#termsHeader{
		display:block;
	}
	#newTitle{
		margin-bottom:20px;
	}
}
.merror {
	color: #9E0B0F;
	font-weight: bold;
}

#togglePasswordIcon{
	position: relative;
	z-index: 1;
	left: -25px;
	top: -2px;
	color: #7B7B7B;
	cursor: pointer;
	width: 0;
}
