/* variables */
/* mixins */
.boxsizefix {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* UNIVERSAL */
@font-face {
  font-family: 'Expert-Sans-Regular';
  src: url(fonts/expertsans-regular-webfont.eot);
  src: url(fonts/expertsans-regular-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/expertsans-regular-webfont.woff) format('woff'), url(fonts/expertsans-regular-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'Expert-Sans-Light';
  src: url(fonts/expertsans-light-webfont.eot);
  src: url(fonts/expertsans-light-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/expertsans-light-webfont.woff) format('woff'), url(fonts/expertsans-light-webfont.ttf) format('truetype');
}
a {
  font: 12px/1, "Expert-Sans-Light", verdana, sans-serif;
  color: #017eb6;
  text-decoration: none;
}

body {
    background: none repeat scroll 0 0 #E7E7E7;
    color: #5F5F5F;
    font: 12px/1.5 verdana,sans-serif;
    margin: 0 auto;
}
h1 {
  font: 24px/1.5 "Expert-Sans-Light", verdana, sans-serif;
  margin: 0px 10px 30px 0;
  color: #003366;
  font-weight: normal;
  border-bottom: 1px solid #cecece;
}
h1.page-header {
    border-bottom: 1px dotted #003366;
    color: #003366;
    font: 24px/1.5 "Expert-Sans-Light";
    margin: 0 10px 30px;
    padding-left: 0;
    text-transform: none;
}
h2 {
  font: 19px/1.2 "Expert-Sans-Light", verdana, sans-serif;
  margin: 0 0 7px 0;
  padding: 0;
  color: #003366;
}
h2.page-header {
  font: 20px/1.2 "Expert-Sans-Light", verdana, sans-serif;
  margin: 0 0 10px 0;
  padding: 0;
  color: #003366;
}
h3 {
  font: 17px/1.2 "Expert-Sans-Bold",verdana,sans-serif;
  margin: 0 0 3px 0;
  color: #003366;
  padding-bottom: 1px;
}
h3.page-header {
  font: 17px/1.2 "Expert-Sans-Light", verdana, sans-serif;
  margin: 0 0 7px 0;
  padding: 0;
  color: #003366;
}
p {
  line-height: 1.5;
  padding: 0;
  margin: 0 0 15px 0;
}
img {
  border: none;
}
.col > div {
  float: left;
  padding: 0 20px;
}
.minicol > div {
  float: left;
  padding: 0 10px;
}

.col74 {
width: 74%;
}

.col65 {
width: 65%;
}

.col55 {
  width: 55%;
  float: left;
  padding: 0 20px 0 0;
  margin: 0;
}
.col55 img {
  float: right;
  top: 0;
  right: 0;
  width: auto;
  margin: 4px 0 25px;
}

.col55 p {
  padding: 0;
  margin: 0;
}

.left-half {
  width: 48%;
  float: left;
}

.left-half p {
  padding: 0;
  margin: 0;
}

.right-half {
  width: 48%;
  float: right;
}
.col50 {
  width: 45%;
}
.colfourtytwo {
  width: 42%;
}
.agg-col-2 {
  width: 40%;
  float: left;
}

.col40 {
width: 40%;
float: left;
}

.onethird {
  width: 31%;
  float: left;
  clear: none;
  padding-right: 2%;
}
.coltwentysix {
  width: 26%;
}

.coltwentysix p {
  padding: 0;
  margin: 0;
}

.onefourth {
  width: 25%;
  float: left;
  clear: right;
}
.col22 {
  background: url(/BC_S/bl_rebrand/images/fade-rule-180.gif) no-repeat scroll right 70px;
  width: 22%;
  float: left;
  clear: right;
  margin: 0 0 10px 0;
}
.col22-last {
  width: 23%;
  float: left;
}
.col-1-6 {
  width: 18%;
  float: left;
  margin: 0 10px 15px 0;
}
.col-1-6-last {
  width: 14%;
  float: left;
  margin: 0 5px 15px 0;
}
.row-2 {
  float: left;
  clear: both;
  border-top: 1px solid #cecece;
  padding: 8px 0;
}
.list-divider-after {
  border-bottom: 1px solid #cecece;
}
.list-divider-before {
  border-top: 1px solid #cecece;
  padding: 8px 0;
}
ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
ul,
li {
  padding: 3px 0;
}
table {
  background: #FFFFFF;
  float: left;
  margin-top: 20px;
  border: none;
  font: 12px/1.5 verdana, sans-serif;
  border-collapse: collapse;
}
tr {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
table tr.odd {
  background-color: #d8e9f0;
}
table tr:hover {
  background-color: #b3b3b3;
  color: #FFF;
}
td,
th {
  border: none;
  text-align: center;
  padding: 1%;
}
td {
  width: 8%;
}
td.negativenumber {
  color: #CC3333;
}
th {
  background-color: #017EB6;
  color: #FFF;
}
.table1strow th:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
.table1strow th:first-child {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.table1strow a {
  color: #FFF;
}
.table1strow a:hover {
  color: #FFF;
  text-decoration: underline;
}
.table2ndrow th {
  background: #FFF;
  border-bottom: 3.5px solid #017EB6;
}
.table2ndrow a {
  color: #017EB6;
  font-weight: normal;
}
.table2ndrow a:hover {
  color: #017EB6;
  text-decoration: underline;
}
.greyframe {
  border: 1px solid #cecece;
  padding: 4px;
  margin-top: 4px;
  width: 99%;
}

.linkbar ul {
  display: inline-block;
  color: #9e9d9d;
  margin-top: 4px;
  padding-bottom: 13px;
}
.linkbar li{
display: inline;
font: 11px/1.5 verdana, sans-serif;
}

.filter {
  float: right;
  padding: 4px 110px 0 0;
  font-size: 11px;
}
/* Que to delete .more & .more a NOT p.more*/
.more {
  float: right;
  clear: both;
}
.more a {
  font-size: 11px;
}
/* Que to delete .more & .more a NOT p.more */
p.more {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 4px;
  margin: 0;
  font-size: 11px;
}
.disclaimer p {
  float: left;
  clear: both;
  display: inline;
  width: 93%;
  margin: 20px 20px 0 20px;
  font: 10px/1.5 verdana, sans-serif;
}
.tool-bucket {
  background: url('/BC_S/bl_rebrand/images/ededed_diagonal_stripe.png');
  float: right;
  clear: right;
  position: absolute;
  top: 0;
  right: 0;
  width: 13%;
  padding: 0 20px 10px;
  margin: 0 0 5%;
  border: 1px solid #c3c3c3;
}
.tool-bucket ul {
  display: inline-block;
  margin-top: 6px;
}
.tool-bucket li {
  display: list-item;
}
select {
width: auto;
margin-right: 16px;
border-bottom: 1px solid #111111;
}

textarea {
width: 98%;
min-height: 100px;
border-bottom: 1px solid #111111;

}


/* Left Navigation */
.left-nav {
  background: url(/BC_S/bl_rebrand/images/rings.png) no-repeat scroll left top #017eb6;
  width: 13%;
  margin: 0 10px 0 0;
  float: left;
  clear: both;
  padding-left: 1%;
  border: 1px solid #c3c3c3;
  min-height: 490px;
}
.sub-nav {
  color: #FFFFFF;
  padding-left: 1%;
  padding-top: 3%;
  clear: both;
  float: left;
  width: 100%;
}
.sub-nav li {
  margin-bottom: 1em;
  margin-right: 0;
  padding: 2%;
}
.sub-nav li:hover {
  background: url(/BC_S/bl_rebrand/images/arrow-right.png) no-repeat scroll 100% 50% #ffffff;
  border-radius: 4px 0 0 4px;
  color: #017EB6;
}
.active li {
  background: url(/BC_S/bl_rebrand/images/arrow-right.png) no-repeat scroll 100% 50% #ffffff;
  border-radius: 4px 0 0 4px;
  color: #017EB6;
}
.active li a {
  color: #017EB6;
}
.sub-nav a {
  display: block;
  font-size: 12px;
  line-height: 25px;
  outline: medium none;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 2%;
}
.sub-nav a:hover {
  color: #017EB6;
}
/* left blue border table */
.bluetablebox img {
  border-left: 1px solid #017EB6;
  border-bottom: none;
  padding: 0 0 10px 10px;
  margin-bottom: -4px;
}
.bluetablebox ul {
  padding-bottom: 0;
}
.bluetablebox li {
  padding: 0 2px 4px 0;
}
.bluetablebox a {
  padding: 0 0 4px 10px;
  display: block;
}
.bluetablebox a:hover {
  background: #017EB6;
  color: #FFFFFF;
}
/* aperture */
.aperture {
  overflow: hidden;
  padding: 0;
  margin-top: 2px;
  position: relative;
  width: 100%;
}
.aperture a {
  color: #017EB6;
}
.aperture ul {
  margin: 0 0 0 20px;
  color: #017EB6;
}
.aperture .badge {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
.aperture .curtain.left {
  background-position: left top;
  left: 0;
}
.aperture .curtain.right {
  background-position: right top;
  right: 0;
  z-index: 5;
}
.aperture .curtain {
  background: url(/BC_S/bl_rebrand/images/curtain-edge-crop.gif) repeat scroll left 4px #ffffff;
  overflow: visible !important;
  position: absolute;
  top: 4px;
  height: 100%;
  width: 6px;
  z-index: 5;
}
.aperture .imagewithcaption {
  height: 100%;
  width: 100%;
  top: 2px;
  position: relative;
}
.aperture .imagewithcaption img {
  width: 100%;
  margin: 0 0 2px;
  padding: 0;
}
.imagewithcaption p {
  height: 100%;
  width: 90%;
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
}
.aperture h2 {
  padding: 0 5% 3% 6%;
  margin: 0 0 1% 0;
}
.topleft {
  background: url(/BC_S/bl_rebrand/images/aperture-cap1.png) no-repeat scroll left top #ffffff;
  overflow: visible !important;
  position: relative;
  float: left;
  top: 0;
  height: 4px;
  width: 50%;
  padding: 0;
  margin: 0;
}
.topright {
  background: url(/BC_S/bl_rebrand/images/aperture-cap1.png) no-repeat scroll right top #ffffff;
  overflow: visible !important;
  position: relative;
  float: right;
  top: 0;
  height: 4px;
  width: 50%;
  padding: 0;
  margin: 0;
}
.bottomleft {
  background: url(/BC_S/bl_rebrand/images/aperture-cap2.png) no-repeat scroll left top #ffffff;
  overflow: visible !important;
  position: relative;
  float: left;
  bottom: 0;
  height: 4px;
  width: 50%;
  padding: 0;
  margin: 0 0 10px;
}
.bottomright {
  background: url(/BC_S/bl_rebrand/images/aperture-cap2.png) no-repeat scroll right top #ffffff;
  overflow: visible !important;
  position: relative;
  float: right;
  bottom: 0;
  height: 4px;
  width: 50%;
  padding: 0;
  margin: 0 0 10px;
}
/* tabs */
.ui-tabs {
  zoom: 1;
}
.ui-tabs .ui-tabs-nav {
  list-style: none;
  position: relative;
  padding: 2px 0 0 0;
  overflow: hidden;
  top: 1px;
  z-index: 1000;
}
.ui-tabs .ui-tabs-nav li {
  position: relative;
  float: left;
  border: 1px solid #ccc;
  border-bottom-width: 0 !important;
  margin: 0 2px -1px 0;
  background: url(/BC_S/bl_rebrand/images/tab-trigger-repeater.gif) repeat-x left bottom #d4d2d3;
}
.ui-tabs .ui-tabs-nav li a {
  float: left;
  text-decoration: none;
  padding: 5px 10px 0;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

.ui-state-default a {
color: #fff;
font: 15px "Expert-Sans", verdana, sans-serif #fffff bold;
}

.ui-tabs-selected a {
color: #003366;
}


.ui-tabs .ui-tabs-nav .ui-tabs-selected {
  border-bottom-width: 0;
  background: #FFFFFF;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: text;
}
.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
  padding: 20px 12px;
  display: block;
  border-width: 0;
  background: none;
  border: 1px solid #ccc;
  position: relative;
  min-height: 200px;
}
.ui-tabs .ui-tabs-hide {
  display: none !important;
}
a:active,
a:selected,
a:visited {
  border: none;
  outline: none;
}
.tabbedtextbox {
  background-color: #FFFFFF;
  width: auto;
  height: auto;
  margin: 0;
  padding-bottom: 20px;
  float: left;
  clear: right;
}
/* Check-box */
.sub {
  background: #333;
  color: #eee;
  padding: 8px;
  height: 54px;
}
.sub p {
  margin: 0;
  padding: 0 0 8px 0;
}
.sub a {
  color: #eee;
  padding: 8px;
  background: #777;
  margin-bottom: 8px;
}
.subscribe:hover {
  cursor: pointer;
}
.sub span {
  font-weight: bold;
}
.checkbox {
  display: inline-block;
  margin-right: 5px;
}
a.yes {
  background: #017EB6;
}
.subscriptions {
  font-size: 10px;
  line-height: 2.8em;
  float: right;
  margin-right: 50px;
  
}
.subscriptions a {
  color: #888888;
}

/* author/filter/flyout */
#box {
  display: none;
  background: #fff;
  border: solid 1px #ababab;
  width: 160px;
  position: absolute;
  z-index: 9999;
  -moz-box-shadow: 1px 3px 2px #ababab;
  -webkit-box-shadow: 1px 3px 2px #ababab;
  box-shadow: 1px 3px 2px #ababab;
}
#box ul {
  padding: 0;
}
#box li {
  padding-left: 10px;
  border-bottom: solid 1px #ababab;
}
#box li a {
  width: 100%;
  display: block;
}

#box li:last-child {
  border: none;
}
.link {
  cursor: pointer;
}
/* securitisationhome */
.securitisationhome .fp-container {
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #C3C3C3;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1%;
  overflow: hidden;
}
.securitisationhome .col25-last p {
  margin: 0;
  padding: 0 0 20px 0;
}
.securitisationhome .col25-last ul,
.securitisationhome .col25 ul {
  margin-bottom: 2px;
}
.securitisationhome li {
  font-size: 13px;
}

.securitisationhome .linkbar li { 
font-size:11px;
}

.securitisationhome .middleulseparator {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  padding: 0 0 16px 0;
}
.securitisationhome .bordertextbox {
  position: relative;
  display: inline-block;
  width: 100%;
  border: 1px solid #cecece;
}
.securitisationhome .bordertextbox p {
  margin: 0 2% 3% 3%;
}
.securitisationhome .separator {
  color: #ddd;
}
.securitisationhome ul,
.securitisationhome li {
  padding: 0 0 8px 0;
}
.securitisationhome ul ul {
  margin-left: 17px;
  padding-bottom: 0;
}
.securitisationhome ul {
  padding-bottom: 17px;
}
.securitisationhome .indent {
  display: inline-block;
  padding-left: 22px;
  text-indent: -22px;
}
.minpadding {
  padding-left: 10px;
}
/* Cross-commodities Home */
.crosscommodities .col22-last p {
  padding: 4px 4px;
}
.crosscommodities .left-half {
  width: 42%;
}
/* Aggregate Index Overview - five column design */
.fivecol .fp-container {
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #C3C3C3;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1%;
  overflow: hidden;
}
.fivecol .textbox {
  overflow: hidden;
  float: left;
  border: none;
  height: auto;
  width: 70%;
}
.fivecol .textbox ul ul {
  list-style: none;
  margin: 0 0 0 17px;
}
.fivecol select {
  width: auto;
  margin: 0;
}
.fivecol h1 {
  font-size: 22px;
  margin: 0 0 6px 0;
  position: relative;
  float: left;
  width: 100%;
}
.fivecol h3 {
  margin: 0 0 0 0;
  font-family: verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.fivecol ul {
  margin-bottom: 20px;
}
.fivecol h1.page-header {
  width: 99%;
}
.fivecol .customized {
  position: absolute;
  right: 0;
  font-size: 12px;
  bottom: 4px;
}
.fivecol .customized a {
  padding-right: 4px;
}
.fivecol .col-container {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 6px;
}
.fivecol .col-1-5 {
  width: 23%;
  float: left;
}
.fivecol .extras-right {
  background: #FFFFFF;
  width: 20%;
  float: left;
  clear: right;
  border-left: 1px solid #d9e0e6;
}
.fivecol .quicklinks {
  float: left;
}
.fivecol a.title {
  color: #003366;
}
.fivecol a.title:hover {
  color: #003366;
}
.fivecol dd {
  margin: 0;
  padding: 0;
}
/* Indices Pages */
.indices .container {
  border: 1px solid #C3C3C3;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
}
.indices .textbox {
  width: 55%;
  float: left;
}
.indices .textbox dt,
.indices dd {
  margin: 0px;
  display: block;
}
.indices .textbox dd {
  padding: 0;
  margin: 0;
  display: inline;
}
.indices .textbox dl {
  margin: 10px 0 0;
  display: inline-block;
}
.indices .textbox a {
  color: #017EB6;
}
.indices .textbox a:hover {
  color: #017EB6;
  text-decoration: underline;
}
.indices .extras-right {
  background: #FFFFFF;
  width: 20%;
  float: left;
  clear: right;
  border-left: 1px solid #d9e0e6;
}
.indices .graph {
  width: 100%;
  height: auto;
  margin: 0 0 27px 0;
  padding: 0;
  background: #fff;
  float: left;
  border: none;
  text-align: center;
}
.indices .extras-list {
  padding: 0 0 0 12%;
}
.indices .extras-list ul {
  text-align: left;
  padding-bottom: 10px;
}
.indices ul:last-child {
  border-bottom: none;
}
.indices .extras-list li li {
  background: #FFF999;
  display: block;
}
.indices .three-quarter {
  width: 78%;
}
.error {
    color: red;
    font-weight: 700;
}

#foot-wrap {
    background-color: #fff;
    width: 100%;
    height: 50px;
    /*bottom: 0;
    left: 0;
    right: 0;*/
    border-top: 1px solid #ddd;
	margin-top:15px;
}

#footer {
    padding-top: 12px;
    max-width: 1200px;
    list-style: none;
    background: #fff;
    margin: auto;
    margin-left:40px;
}

#foot-box { margin: 100px }

#footer li { display: inline-block }

#footer li {
    float: left;
    margin-right: 18px;
}

#footer li:last-child { margin-right: 0px }

#footer a {
    color: #007FB6;
    padding: 2px;
    line-height: 25px;
}

.copyright {
    padding: 2px;
    line-height: 25px;
}

.level2{
    margin-left: 40px;
}

#pageshadow{
    -moz-box-sizing: border-box;
    background: url("/BC_S/bl_rebrand/images/nav-shadow-btm.gif") repeat-x scroll center bottom #FFFFFF;
    height: 53px;
    overflow: hidden;
    width: 100%;
    clear: both;
}