
body {margin: 10px;font-size: 15px;}
.body-mini {margin: 5px;font-size: 15px;}
label {font-weight:normal;}
.form-group {margin-right:0 !important;}
.form-group {margin-bottom:0.7em;}
#footer 
{
    position: relative;
    margin-top: 0px; /* negative value of footer height */          
    clear:both;
    padding-top:20px;
        
    background-color: #2455a2; 
    border-radius:4px; 
    color:#fff; 
    padding:2px 0 2px 4px;    
    margin-bottom: 10px; 
    
         /* v2 */ 
    
        /* orig */
        /* background-color: #2455a2; 
        border-radius:4px; 
        color:#fff; 
        padding:2px 0px 2px 4px; 
        width:100%; */
            

        /* v1 */    
        /* position: absolute;
        bottom: 0;
        margin-bottom: 10px;   */
}
#header {border-radius:4px;}
.miniHeader {font-size:1.18em;margin-bottom:2px;margin-top:0px; }
header div img {padding-left:5px;}
div #header {background-image: url('../images/banner_backgroundv3.jpg');}
span#TypeOfHate_cbl > label {padding:0em 0.5em 0em; }

		.ddl-date, .ddl_time{
			display:inline;
			width:auto; 
		}
		.ddl-date-container, .ddl-time-container, .ddl-time-unknown-container{				
			height: 2.3em;
		    width: 21.2em;
		}
		.ddl-time-container{
			height: 2.3em;	
			width:17.2em;			
		}
		.ddl-time-unknown-container{
			height: 2.3em;		
			width:9.2em;			
		}		
		.ddl-align{ margin-left: -4px;}

        .unknown {
            display:inline;
			width:60%; 
        }
.red{ color: #F33636;}
.LargeHeader{font-size:1.6em;}
.errorContainer{color:#F33636}
.counter{font-size:0.8em;}
#natureCounter{ line-height: 1em;}
hr { margin-top: 10px;margin-bottom: 10px;}
.input-sm { font-size: 15px;}


        .cblWell, .cblWellFull{
            border-radius:4px;
            padding: 4px;            
        }
        .cblWell {width: 200px;}
        
        .cblWell-Blue {
            border: 1px solid #2072CE;
        }
        .cblWell-Red {
            border: 1px solid #F33636;
        }

		.clear{clear:both;}
		
		label {font-weight:normal;}
						
		.show {
		  display: block !important;
		}
		.hidden {
		  display: none !important;
		  visibility: hidden !important;
		}
		.invisible {
		  visibility: hidden;
		}
		
		
		input[type="checkbox"] 		
		{
		    min-height: 15px;		    
			width:1.3em;		    
		}

		input[type="radio"] 		
		{		    			
			min-height: 15px;
			width:2em; 	    
		}
		
		h1 { font-size: 170%;color: #1b75bb;}
		h2 { font-size: 140%; }
		h3 { font-size: 120%; }
		
#ValidationSummary a:link { color: red; text-decoration:underline;}				
#ValidationSummary a:visited { color: red; text-decoration: underline;}	
#ValidationSummary a:hover { text-decoration: none;}		





html, body {
  height: 98%;      
}


#wrap {
  min-height: 98%;
}

#main {
  overflow:none;
  padding-bottom:20px;
    
}

.footer {

} 

.ErrorHeader 
{
    color:#f33636;    
    margin:0px 0px 0px 17px;
}
.Error, label.error
{
    color:#f33636;        
}

#inner {margin-left:5px;}

.required { font-style: italic;font-size: small;}
.bold { font-weight: 600;}	
.padl4 { padding-left:4px; }
.TextIndent { display:block; margin-bottom:10px; padding-left:15px; }
.TextSpacer { display:block; margin-bottom:5px; }



/* pop box */
  
  .popover {
      border: 1px solid #1b75bb;
      width: 300px;
  }
  /* Popover Header */
  .popover-title {
      background-color: #2455a2; 
      color: #FFF; 
      font-size: 1.1em;
      text-align:center;
  }
  /* Popover Body */
  .popover-content {
      background-color: #eee;
      color: #000;
      font-size: 0.9em;
      padding: 10px;
  }
  /* Popover Arrow */
  .arrow {
      border-bottom-color: #1b75bb !important;
  }

  .vert-spacer { margin-top: 1.2em; }
  
  
 .bread-right {float: left !important; margin-bottom: 0.2em;} 
 .form-group{ margin-bottom: 0.1em;}
  
/* first value needs to be smallest */  
   
@media (min-width: 768px) {
     .miniHeader {font-size:1.44em;} 
     .bread-right {float: right !important; }  
     .form-group{ margin-bottom: 0.7em;} 
}

@media (min-width: 992px) {

     
}
@media (min-width: 1200px) {

     
}